{% assign_local c = "c-left-right-block" %}

<div class="{{ c }} component {% if image_padding != true %}component--full-height{% endif %} {% if styles.image_alignment == "Right" %}{{ c }}--right{% endif %} 
  component--{{ color_group }}">
  <div class="{{ c }}__content">
    <div class="{{ c }}__content-wrapper">
      {% if social_icons %}
        {% bookshop "generic/social-icons" bind: social_icons %}
      {% endif %}
      {% if heading %}
        {% bookshop "generic/heading" bind: heading %}
      {% endif %}
      {% if contact_details %}
        <div class="{{ c }}__content-text">
          {{ contact_details | markdownify }}
        </div>
      {% endif %}
      {% if text %}
        <div class="{{ c }}__content-text">
          {% bookshop "generic/text-block" bind:text %}
        </div>
      {% endif %}
      {% if icons %}
        <div class="{{ c }}__icons">
          {% for icon in icons %}
            {% bookshop "generic/labelled-icon" bind: icon %}
          {% endfor %}
        </div>
      {% endif %}
      {% if buttons %}
        <div class="{{ c }}__buttons">
          {% for button in buttons %}
            {% bookshop "generic/button" bind: button %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="{{ c }}__media {% if image_padding %}{{ c }}__media--auto-height{% endif %}">
    {% if image %}
      {% bookshop "generic/image" bind: image %}
    {% endif %}
    {% if map %}
      {% bookshop "simple/google-map-embed" bind:map %}
    {% endif %}
  </div>
</div>