{% assign c = "c-custom-icon" %}

<div class="{{ c }} {{ c }}--{{ icon_size }} {{ c }}--{{ icon_style }} {% if rounded_border %}{{c}}--round{% endif %}" style="--c-custom-icon-color: {{ color }}">
    {% if env_bookshop_live %}
        <div class="{{ c }}__image" style="--url: url('{{ svg_icon }}')"></div>
    {% else %}
        {{ '/src' | append: svg_icon  | svgContents: "c-custom-icon__svg" }}
    {% endif %}
</div>
