{% assign_local c = "c-card-grid" %}
<div class="{{c}} 
            {% if _bookshop_name contains "image-card-grid" %}
              {{c}}--image-cards
            {% endif %}
            component 
            {% if styles.background_variant == "secondary" %} 
                component--secondary
            {% endif %}">

  <div class="{{c}}__wrapper">
    <div class="{{c}}__content-grid">
      <div class="{{c}}__content-wrapper">
        {% if content.heading or content.eyebrow_headline %}
          {% bookshop "generic/component-heading" eyebrow_headline:content.eyebrow_headline primary_heading:content.heading %}
        {% endif %}
        {% if content.text %}
          <div class="{{c}}__content">
            {{ content.text }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if content.grid_items %}
      <div class="{{c}}__grid">
        {% for item in content.grid_items %}
          {% bookshop "generic/card" bind:item %}
        {% endfor %}
      </div>
    {% endif %}

    {% if content.buttons %}
      <div class="{{c}}__buttons">
        {% for button in content.buttons %}
          {% bookshop "generic/button" bind:button disabled:false arrow:button.arrow %}
        {% endfor % %}
      </div>
    {% endif %}
  </div>
</div>