{%  assign c = 'c-card' %}
<div class={{c}}>
    {% if icon %}
        <div class="{{c}}__icon-wrapper">
            {% bookshop "generic/icon" svg_icon:svg_icon color:"currentColor" icon_size:"small" icon_type:"outline" rounded_border:false %}
        </div>
    {% else %}
        <div class="{{c}}__image-wrapper">
            {% comment %} TODO: put image component here {% endcomment %}
        </div>
    {% endif %}
    
    {% bookshop "generic/component-heading" bind:headings %}

    <div class="{{c}}__content">
        {{ details }}
    </div>

    <div class="{{c}}__buttons">
        {% bookshop "generic/button" text:link_label variant:"secondary" disabled:false arrow:"arrow-right" url:link_url %}
    </div>
</div>
