{%  assign c = 'c-card' %}
<div class={{c}}>
    {% if icon %}
        <div class="{{c}}__icon-wrapper">
            {% bookshop "generic/icon" svg_icon:icon color:"currentColor" icon_size:"small" icon_type:"outline" rounded_border:false %}
        </div>
    {% else %}
        <div class="{{c}}__image-wrapper">
            {% comment %} TODO: put image component here {% endcomment %}
        </div>
    {% endif %}
    
    {% bookshop "generic/component-heading" eyebrow_heading:eyebrow_heading primary_heading:primary_heading %}

    <div class="{{c}}__content">
        {% bookshop "generic/text-block" text:text %}
    </div>

    <div class="{{c}}__button">
        {% bookshop "generic/button" url:button.url text:button.label open_in_new_tab:button.open_in_new_tab variant:"secondary" disabled:false arrow:"right"%}
    </div>
</div>
