{%  assign_local c = 'c-card' %}
<div class={{c}}>
    {% if hero_icon_name %}
        <div class="{{c}}__icon-wrapper">
            {% bookshop "generic/icon" svg_icon:hero_icon_name color:"currentColor" icon_size:"small" icon_type:"outline" rounded_border:false %}
        </div>
    {% else %}
        <div class="{{c}}__image-wrapper">
            {% bookshop "generic/image" image_path:image image_alt:primary_heading %}
        </div>
    {% endif %}
    
    <div class="{{c}}__content-wrapper">
        {% if content.heading or content.eyebrow_headline %}
            {% bookshop "generic/component-heading" eyebrow_heading:eyebrow_heading primary_heading:primary_heading %}
        {% endif %}

        {% if text %}
            <div class="{{c}}__content">
                {% bookshop "generic/text-block" text:text %}
            </div>
        {% endif %}

        {% if button.label %}
            <div class="{{c}}__button">
                {% bookshop "generic/button" url:button.url text:button.label open_in_new_tab:button.open_in_new_tab variant:"secondary" disabled:false arrow:"right"%}
            </div>
        {% endif %}
    </div>
</div>
