{% assign_local c = "c-left-right-block" %}

<section class="{{ c }} component {% if styles.orientation == "Right" %}{{ c }}--right{% endif %} {% if styles.background_variant == "Dark" %} 
  component--dark
{% endif %}">
  <div class="{{ c }}__content">
    <div class="{{ c }}__content-wrapper">
      {% if content.social_icons %}
        {% bookshop "generic/social-icons" bind: content.social_icons %}
      {% endif %}
      {% if content.heading %}
        {% bookshop "generic/component-heading" bind: content.heading %}
      {% endif %}
      {% if content.contact_details %}
        <div class="{{ c }}__content-text">
          {{ content.contact_details | markdownify }}
        </div>
      {% endif %}
      {% if content.author_name %}
        <p class="{{ c }}__content-text">
          {{ content.author_name }}
        </p>
      {% endif %}
      {% if content.icons %}
        <div class="{{ c }}__icons">
          {% for icon in content.icons %}
            {% bookshop "generic/labelled-icon" bind: icon %}
          {% endfor %}
        </div>
      {% endif %}
      {% if content.buttons %}
        <div class="{{ c }}__buttons">
          {% for button in content.buttons %}
            {% bookshop "generic/button" bind: button %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="{{ c }}__media">
    {% if styles.image %}
      {% bookshop "generic/image" bind: styles.image %}
    {% endif %}
  </div>
</section>